@using TodoWeb.Application.Dtos.SchoolModel
@model SchoolReportModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>School Report</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        @foreach (var school in Model.Schools)
        {
        <tr>
            <th>@school.Id</th>
            <th>@school.Name</th>
            <th>@school.Address</th>
        </tr>
        }
    </table>
    <h2>Total: @Model.Schools.Count</h2>
    <p>Author @@Model.Author</p>
    <p>Date created @Model.DateCreated</p>

</body>
</html>